.superkey{
  background:#071127;
  border-radius: 10px;
  width: 250px;
  margin:40px;
}

input {
  width: calc(100% - 20px);
  height: 60px;
  margin-left:10px;
  margin-top:20px;
  padding: 20px;
  font-size: 20px;
  border: none;
  border-radius:5px;
  box-sizing: border-box;
  text-align: center;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input::-webkit-input-placeholder { /* Edge */
  text-align: center;
}

input::placeholder {
  text-align: center;
}

.simple-keyboard.hg-theme-default.myTheme {
  border: none;
  background: none;
  padding: 40px;
  
  
}
.simple-keyboard.hg-theme-default .hg-button {
    width: 60px;
    max-width: 60px;
    max-height: 40px;
    height: 40px;
    background: #2f3a52;
    color: #fff;
    border:none;
    border-radius:inherit;
    


    box-shadow: 0 0 3px -1px rgba(0,0,0,.3);
    box-sizing: border-box;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.simple-keyboard .hg-row {
display: flex;
}
.simple-keyboard .hg-row:not(:last-child) {
margin-bottom: 5px;
}
.simple-keyboard .hg-row .hg-button-container, .simple-keyboard .hg-row .hg-button:not(:last-child) {
margin-right: 5px;
}
.simple-keyboard.hg-theme-default .hg-button.hg-button-enter{
background:#2aada8;
}
.simple-keyboard.hg-theme-default .hg-button.hg-button-bksp{
background:#1c2a44;
}
[data-displaylabel="backspace"] span,[data-displaylabel="< enter"] span{
display:none;
}
.hg-button-bksp:before{
content:"<";
}
.hg-button-enter:before{
content:"-";
}
.hg-button-bksp span{
  display: none !important;
}
.hg-button-enter span {
  display: none !important;
}